<div class="admin-dashboard">

    <div class="admin-cards">
      <div class="admin-card">
        <div class="bg-image" [style.backgroundImage]="'url(http://localhost:8080/static/images/user_bg.png)'"></div>
        <div class="card-content">
          <h2>User Management</h2>
          <p>Manage user accounts and permissions</p>
          <a class="btn btn-primary" routerLink="/admin/users">Edit Users</a>
        </div>
      </div>

      <div class="admin-card">
        <div class="bg-image" [style.backgroundImage]="'url(http://localhost:8080/static/images/news_bg.png)'"></div>
        <div class="card-content">
          <h2>News Management</h2>
          <p>Create news articles</p>
          <a class="btn btn-primary" routerLink="/admin/news">Edit News</a>
        </div>
      </div>

      <div class="admin-card">
        <div class="bg-image" [style.backgroundImage]="'url(http://localhost:8080/static/images/venues_bg.png)'"></div>
        <div class="card-content">
          <h2>Venue Management</h2>
          <p>Manage venue layouts and settings</p>
          <a class="btn btn-primary" routerLink="/admin/venues">Edit Venues</a>
        </div>
      </div>

      <div class="admin-card">
        <div class="bg-image" [style.backgroundImage]="'url(http://localhost:8080/static/images/events_bg.png)'"></div>
        <div class="card-content">
          <h2>Event Management</h2>
          <p>Create events, shows and artists</p>
          <a class="btn btn-primary" routerLink="/admin/events">Edit Events</a>
        </div>
      </div>
    </div>
  </div>
